<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <pwa-back-button></pwa-back-button>
    </ion-buttons>
    <ion-title>Instructions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ng-container *ngIf="app$ | async as app">

    <ion-item *ngIf="!app.instructions">
      <ion-label class="ion-text-wrap">
        <p>No instructions for {{ app.title }} {{ app.versionInstalled }}.</p>
      </ion-label>
    </ion-item>

    <div *ngIf="app.instructions" class="instuctions-padding" [innerHTML]="app.instructions | markdown"></div>
  </ng-container>
</ion-content>