<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <pwa-back-button></pwa-back-button>
    </ion-buttons>
    <ion-title>Instructions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-spinner *ngIf="loading; else loaded" class="center" name="lines" color="warning"></ion-spinner>

  <ng-container #loaded>
    <ion-item *ngIf="!instructions">
      <ion-label>No instructions.</ion-label>
    </ion-item>

    <div *ngIf="instructions" class="instuctions-padding" [innerHTML]="instructions | markdown"></div>
  </ng-container>
</ion-content>