<ion-header>
  <ion-toolbar>
    <ion-title>Embassy Marketplace</ion-title>
    <ion-buttons slot="end">
      <badge-menu-button></badge-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionChange)="getPkgs($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-spinner *ngIf="loading; else loaded" class="center" name="lines" color="warning"></ion-spinner>

  <ng-template #loaded>

    <ion-item *ngIf="error" style="margin-bottom: 16px;">
      <ion-text class="ion-text-wrap" color="danger">{{ error }}</ion-text>
    </ion-item>

    <div class="scrollable">
      <ion-button *ngFor="let cat of data.categories" size="small" fill="clear" [color]="cat === category ? 'success' : 'dark'">
        {{ cat }}
      </ion-button>
    </div>

    <ion-card *ngFor="let pkg of pkgs" style="margin: 10px 10px;" [routerLink]="[pkg.id]">
      <ion-item style="--inner-border-width: 0 0 .4px 0; --border-color: #525252;">
        <ion-avatar style="margin-top: 8px;" slot="start">
          <img [src]="pkg.icon" />
        </ion-avatar>
        <ion-label style="margin-top: 6px; margin-bottom: 3px">
          <h1 style="font-family: 'Montserrat'; font-size: 20px; margin-bottom: 0px;">
            {{ pkg.title }}
          </h1>
          <!-- <div *ngIf="pkg | marketStatus === 'installed'" class="beneath-title">
            <ion-text style="font-size: 12px;" color="success">Installed</ion-text>
          </div>
          <div *ngIf="pkg | marketStatus === 'update'" class="beneath-title">
            <ion-text style="font-size: 12px;" color="warning">Update Available</ion-text>
          </div>
          <div *ngIf="pkg | marketStatus === 'installing'" class="beneath-title" style="display: flex; flex-direction: row; align-items: center;">
            <ion-text style="font-size: 12px;" color="primary">Installing</ion-text>
            <ion-spinner name="crescent" style="height: 10px; width: 15px; margin-left: 3px; margin-right: -4px;" color="primary"></ion-spinner>
          </div> -->
        </ion-label>
      </ion-item>
      <ion-card-content style="
        font-size: small !important;
        padding-bottom: 10px;
        padding-top: 6px;
        ">
        {{ pkg.descriptionShort }}
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
