<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <pwa-back-button></pwa-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <ion-item-group>
    <ion-item *ngFor="let spec of patch.watch$('server', 'specs') | async | keyvalue : asIsOrder" [class.break-all]="spec.key === 'Tor Address'">
      <ion-label class="ion-text-wrap">
        <h2>{{ spec.key }}</h2>
        <p *ngIf="spec.value | isValidEmver">{{ spec.value | displayEmver }}</p>
        <p *ngIf="!(spec.value | isValidEmver)">{{ spec.value }}</p>
      </ion-label>
      <ion-button slot="end" *ngIf="spec.key === 'Tor Address'" fill="clear" (click)="copyTor(spec.value)">
        <ion-icon slot="icon-only" name="copy-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-item-group>

</ion-content>