<ion-header>
  <ion-toolbar>
    <ion-title>Installed Services</ion-title>
    <ion-buttons slot="end">
      <badge-menu-button></badge-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="position: relative">
  <ion-grid *ngIf="(patch.watch$('apps') | async as apps).length; else welcome">
    <ion-row>
      <ion-col *ngFor="let app of apps" sizeXs="4" sizeSm="3" sizeMd="2" sizeLg="2">
        <ion-card class="installed-card" style="position:relative" [routerLink]="['/services', 'installed', app.id]">
          <div class="launch-container" *ngIf="app.hasUI">
            <div class="launch-button-triangle"  (click)="launchUi(app.id, $event)" [class.disabled]="!app.launchable">
              <ion-icon name="rocket-outline"></ion-icon>
            </div>
          </div>

          <img style="position: absolute" class="main-img" [src]="app.iconURL" [alt]="app.title" />
          <img class="main-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
          <img class="bulb-on"  *ngIf="app.status | displayBulb: 'green'" src="assets/img/running-bulb.png"/>
          <img class="bulb-on"  *ngIf="app.status | displayBulb: 'red'" src="assets/img/issue-bulb.png"/>
          <img class="bulb-on"  *ngIf="app.status | displayBulb: 'yellow'" src="assets/img/warning-bulb.png"/>
          <img class="bulb-off" *ngIf="app.status | displayBulb: 'off'" src="assets/img/off-bulb.png"/>
          <ion-card-header>
            <status [appStatus]="app.status" size="small"></status>
            <p>{{ app.title }}</p>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div #welcome class="ion-text-center ion-padding">
    <div style="display: flex; flex-direction: column; justify-content: center; height: 40vh">
      <h2>Welcome to your <span style="font-style: italic; color: var(--ion-color-start9)">Embassy</span></h2>
      <p class="ion-text-wrap">Get started by installing your first service.</p>
    </div>
    <ion-button [routerLink]="['/services','marketplace']" style="width: 50%;" fill="outline">
      <ion-icon slot="start" name="storefront-outline"></ion-icon>
      Marketplace
    </ion-button>
  </div>
</ion-content>
